In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [6]:
df

             A         B
G1 1 -0.425638 -1.301890
   2  1.046714  0.251529
   3 -1.064973  0.486368
G2 1  0.856615 -1.219415
   2 -0.706850  0.616986
   3 -0.170631 -0.679470

In [12]:
df.index.names = ['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1   -0.425638 -1.301890
       2    1.046714  0.251529
       3   -1.064973  0.486368
G2     1    0.856615 -1.219415
       2   -0.706850  0.616986
       3   -0.170631 -0.679470

In [18]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.425638 -1.301890
G2      0.856615 -1.219415