In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\glori\\6. Python for Data Analysis - Pandas'

In [3]:
pd.read_csv('sample.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [4]:
df = pd.read_csv('sample.csv')

In [5]:
df.to_csv('My_output',index=False)

In [6]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [9]:
import pandas as pd

In [11]:
df = pd.read_excel('sample1.xlsx')

In [12]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [13]:
df.to_excel('sample2.xlsx',sheet_name='NewSheet')

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('sqlite:///"memory')